<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">


<!--<embed th:src="${doc}" type="">-->
<form th:action="${formUrl}" method='post'>
    <input type="hidden" name="key" th:value="${key}" />
    <input type="hidden" name="txnid" th:value="${txnId}" />
    <input type="hidden" name="productinfo" th:value="${pInfo}" />
    <input type="hidden" name="amount" th:value="${amount}" />
    <input type="hidden" name="email" th:value="${email}" />
    <input type="hidden" name="firstname" th:value="${fName}" />
    <input type="hidden" name="lastname" th:value="${lName}" />
    <input type="hidden" name="surl" th:value="${surl}" />
    <input type="hidden" name="furl" th:value="${furl}" />
    <input type="hidden" name="phone" th:value="${phone}" />
    <input type="hidden" name="hash" th:value="${hash}" />
    <input type="submit" id="payu-btn" value="Proceed to Pay" />
</form>

</html>